<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="snowclient_settings.xsd">
  <Agent>
    <SiteName>{{ snowagent_sitename }}</SiteName>
    <ConfigName>Lin_UniBE_v1_MeterOn</ConfigName>
  </Agent>
  <Server>
    <Endpoint>
      <Address>{{ snowagent_endpoint }}</Address>
      <!--<ClientCertificate>
        <FileName>.pfx</FileName>
        <Password></Password>
      </ClientCertificate>-->
    </Endpoint>
  </Server>

  <!-- Delivery location for scan results -->
  <DropLocation>
    <Path></Path>
  </DropLocation>

  <!-- Configuration for File System scan-->
  <Software>
    <Include>
{% for path in snowagent_includes %}
      <Path recursive="true" unconditionally="false">{{ path }}</Path>
{% endfor %}
    </Include>
    <IncludeCriteria enabled="true">
      <FileType>ELF*executable*</FileType>
      <FileType>otf</FileType>
    </IncludeCriteria>
    <Exclude>
      <Path>/tmp*</Path>
{% for path in snowagent_excludes %}
      <Path>{{ path }}</Path>
{% endfor %}
    </Exclude>
  </Software>

  <!-- Scanning for Oracle databases, requires SIOS  -->
  <Oracle enabled="false">
    <!-- If no user credential for specific Instance is given this is used on all other Intances. -->
    <!-- <DefaultInstanceCredentials>
      <UserName></UserName>
      <Password></Password>
    </DefaultInstanceCredentials> -->
    <Include>
      <!-- Either AllInstances or one or more <Instance> -->
        <AllInstances>true</AllInstances>
      </Include>
    </Oracle>

    <Logging>
      <MaxSize>10240</MaxSize>
      <!-- error, warning, info, trace, verbose -->
      <Level>{{ snowagent_loglevel }}</Level>
    </Logging>

    <SystemSettings>
      <!-- Running processes -->
      <Setting key="software.scan.running_processes" value="{{ snowagent_scan_running_procs }}"/>

      <!-- Scan jar files metadata -->
      <Setting key="software.scan.jar" value="true" />

      <!-- Scan package manager for software inventoring on Debian, SUSE, Ubuntu -->
      <Setting key="software.scan.dpkg" value="true" />

      <!-- Scan package manager for software inventoring on RedHat and CentOS-->
      <Setting key="software.scan.rpm" value="true" />

      <!-- Check for server certificate -->
      <Setting key="http.ssl_verify" value="{{ snowagent_ssl_verify }}"/>
{% if ansible_os_family == 'Debian' %}
      <Setting key="http.ssl_capath" value="/etc/ssl/certs/ca-certificates.crt"/>
{% endif %}

      <!-- Append the log files -->
      <Setting key="log.append" value="false"/>

      <!-- Storage folder for snowpacks -->
      <Setting key="env.data_dir" value="data/"/>

      <!-- Logging folder for snowagent.log -->
      <Setting key="env.log_dir" value="data/"/>

      <!-- Attempt to find bind mounts and add these to the list of directories to be ignored -->
      <Setting key="software.scan.ignore_bind_mounts" value="{{ snowagent_ignore_bind_mounts }}"/>
      <!-- Ignore autofs mounts -->
      <Setting key="software.scan.ignore_autofs_mounts" value="{{ snowagent_ignore_autofs_mounts }}"/>
      <!-- Disable remote updates -->
      <Setting key="disable_all_updates" value="{{ snowagent_disable_all_updates }}" />

      <!-- Java executable to run SIOS.jar, configure if java.exe is not in the PATH -->
      <!-- <Setting key="env.java_home" value="java/bin/java"/> -->
    </SystemSettings>
  </Configuration>
